@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background: linear-gradient(#9d693c, #0F4652);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 75px;
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
    z-index: 10000;
}
@media screen and (max-width:991px){
    header{
        justify-content:center;
        padding-left: 10px;
        padding-right: 10px;
    }
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;

}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    font-size: 1.2em;
    text-decoration: none;
    padding: 6px 15px;
    color: #000;
    border-radius: 20px;
    border: 1px none #fff;    
}
@media screen and (max-width:991px) {
    header ul li a{
        font-size: 0.8em;
    }
}
header ul li .contact{
    text-decoration: none;
    background: orange;
    color: black;
    border-style: none;

}
header ul li a:hover{
    background: #fff;
    color: #000;
    text-decoration: none;
}
img#uparrow{
    z-index: 1002;
    width: 60px;
    height: auto;
    object-fit:fill;
    left: 10px;
    top: 10px;
    position: fixed;
    opacity: 0;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(#a0e7f2,#fff);
}
section::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient( to top, #9d693c,transparent);
    z-index: 1001;
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#clouds{
    object-fit:contain;
}
section img#gellitbead{
    z-index: 998;
    width: 200px;
    height: auto;
    object-fit:fill;
    left: auto;
    top: 100px;
    opacity: 0;

}
section img#logo{
    z-index: 998;
    width: 300px;
    height: auto;
    object-fit:fill;
    left: auto;
    top: 100px;
}
section .valueprop{
    width: 500px;
    height: 300px;
    left: auto;
    position: absolute;
    top: 350px;
}
section .valueprop img{
    z-index: 997;
    width: 500px;
    height: auto;
    object-fit: fill;
    left: auto;
    
}
section .valueprop img#vp1{
    opacity: 1;
}
section .valueprop img#vp2{
    clip-path: circle(45px at 50% -60px);
    filter: blur(1px);
    transform: scale(2);
    
}
@media screen and (max-width:991px) {
    section img#logo{
        width: 180px;
    }
    section img#gellitbead{
        width: 120px;
    }
    section .valueprop{
        width: 300px;
        height: 200px;
        top: 250px;
    }
    section .valueprop img{
        width: 300px;
    }
    section .valueprop img#vp1{
        opacity: 1;
    }
    section .valueprop img#vp2{
        clip-path: circle(22.5px at 50% -60px);
        filter: blur(1px);
        transform: scale(2);
        
    }
    img#uparrow{
        width: 30px;
    }
}


section img#foreground{
    z-index: 999;
}

section img#middleground{
    z-index: 10;
}

.sec{
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: block;
    background: #9d693c;
    color: #fff;
    overflow: hidden;
}
.sec table{
    width:100%;
    table-layout: fixed;
}
.sec .about .abouttext table td#abouttext{
    text-align:left;
}
.sec img{
    pointer-events: none;
}
.sec img#whatisgellitimg{
    position: relative;
    width: 100%;
}

.sec img#offerimg{
    position: relative;
    width: 80%;
}

@media screen and (max-width:1400px) {
    .sec img#offerimg{
        width: 100%;
    }
}

.sec .about .abouttext .centertable td{
    text-align: center;

}
.sec .about{
    position: relative;
    background-image: url("imgs/wp_groundbackground.png");
    background-color: #9d693c;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 25px;

}

.sec .about .abouttext h2#gellitwork{
    padding-top: 50px;
}
.sec .about .abouttext a{
    color: #fff;
    text-decoration: underline;
}
.sec .about img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.sec .about .abouttext{
    position: relative;
    z-index: 5;
}
.sec h2{
    font-size: 3.5em;
    color:#fff;
    margin-bottom: 10px;
}
.sec p{
    color:#fff;
    font-size: 1.2em;
}
table{
    text-align: center;
}
table td{
    vertical-align: top;
}
@media(max-width:1200px){
    td{
        display: block;
        width: 100%;
    }
}
.sec .team{
    position: relative;
    padding-top: 25px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 25px;
    background: #3C8D9E;
    z-index: 5;
}
.sec .team table{
    padding-top:30px;
    width:100%;
    text-align: center;
    table-layout: fixed;
}
.sec .team table td{
    padding: 15px;
}
.sec .team table img{
    width: 280px;
    pointer-events: none;
}
@media screen and (max-width:481px) {
    .sec .team table img{
        width: 60%;
    }
}

.sec .contact{
    padding-top: 25px;
    padding-bottom: 25px;
    background: #0F4652;
    z-index: 5;
    text-align: center;
}
@media screen and (max-width:991px) {
    .sec .about{
        padding-left:10px;
        padding-right:10px;
    }
    .sec .team{
        padding-left:10px;
        padding-right:10px;
    }
    .sec .contact{
        padding-left:10px;
        padding-right:10px;
    }
}
.sec .contact .form input{
    width: 600px;
    /*height: 50px;*/
    border-radius: 50px;
    padding: 20px;
    margin-bottom: 10px;
    vertical-align: top;
    border: none;
    font-size: 1.2em;
}
.sec .contact .form textarea {
    resize: none;
    border-radius: 25px;
    height: 300px;
    width: 600px;
    padding: 20px;
    border: none;
    margin-bottom: 10px;
    font-size: 1.2em;
}
@media(max-width:991px){
    .sec .contact .form input{
        width: 90%;
    }
}
@media(max-width:991px){
    .sec .contact .form textarea{
        width: 90%;
        height: 500px;
    }
}
.sec .contact .form input[type=text]:focus {
    background-color: lightblue;
}
.sec .contact .form input[type=email]:focus {
    background-color: lightblue;
}
.sec .contact .form textarea:focus {
    background-color: lightblue;
}
.sec .contact .form button{
    margin-top:10px;
    background-color: orange;
    /*width:150px;
    height: 50px;*/
    padding: 10px 50px;
    border-radius: 50px;
    border: none;
    font-size: 1.3em;

}

.sec .copyright{
    background: #0F4652;
    color: #fff;
    font-size: 0.8em;
    text-align: right;
    padding-right: 50px;
    padding-bottom: 10px;
}
@media screen and (max-width:991px) {
    .sec h2{
        font-size: 2em;
    }
    .sec p{
        font-size: 1em;
    }
    .sec .contact .form input{
        font-size: 1em;
    }
    .sec .contact .form textarea{
        font-size: 1em;
    }
    .sec .contact .form button{
        font-size: 1em;
    }
}

#sec a{
    text-decoration: none;
    padding: 6px 15px;
    color: #000;
    border-radius: 20px;
    border: 1px none #fff;
    margin-top: 10px;
}

.button1{
    text-decoration: none;
    background: orange;
    color: black;
    border-style: none;

}
